*{
	font-family: arial;
}

body{
	background-color: #333;
}

.tablero-container{
	position: relative;
	padding: 0;
	margin: 0;
	height: 100vh;
	justify-content: space-evenly;
	align-content: center;

}

.timer-container{
	display: inline-flex;
	position: relative;
	height: 50%;
	justify-content: center;
}

.score-container{
	display: inline-flex;
	position: relative;
	height: 50%;
	padding: 10px;
	justify-content: space-between;
	flex-wrap: nowrap;
}

.score-team-section, .score-timer-section{
	display: flex;
	position: relative;
	justify-content: center;
	flex-wrap: wrap;
}

.team-name{
	font-size: 60px;
	color: #fff;
	margin: 0;
	text-align: center;
}

.score-box{
	position: relative;
	display: inline-flex;
	background-color: #222;
	color: #fff;
	height: 70%;
	border: 3px solid #fff;
	justify-content: center;
	cursor: pointer;
	overflow: hidden;
}

.timer-box{
	align-self: center;
	transition: .3s ease;
}

.T-E{
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	width: 0;
	border: none;
}

.show{
	animation: aparecer .4s ease forwards;
}

.hide{
	animation: ocultar .4s ease forwards;
}

.score, .timer{
 	position: relative;
 	display: inline-flex;
 	align-self: center;
 	justify-content: center;
 	font-size: 230px;
}

.TO-container-L,.TO-container-V{
	display: inline-flex;
	position: absolute;
	height: 70%;
	bottom: 2%;
	background-color: #222;
	color: #D1FFF7;
	border: 3px solid #fff;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

.TO-container-L{
	right: 0;
}
.TO-container-V{
	left: 0;
}

.time-out{
	display: none;
}

input[type=checkbox] + label:before{
	content: "X";
	display: block;
	position: relative;
	border-radius: 3px;
	height: 50px;
	width: 50px;
	font-size: 30px;
	font-weight: bold;
	color: #D1FFF7;
	border: 2px solid #D1FFF7;
	text-align: center;
	transition: .2s ease;
}

input[type=checkbox]:checked + label:before{
	content: "T";
	background-color: #D1FFF7;
	color: #222;
	border: 0px;
}

::selection{ 
	color: inherit;  
	background: none; 
}

@keyframes aparecer{
	0%{
		border: none;
		width: 0;
	}

	100%{
		border: 3px solid silver;
		width: 21%;
	}
}

@keyframes ocultar{
	0%{
		border: 3px solid silver;
		width: 21%;
	}

	100%{
		border: none;
		width: 0;
	}
}