@font-face {
    font-family: 'Ds-Digital';
    src: url('../DS-DIGI.ttf');
}

.digital{
	font-family: Ds-Digital;
}

body{
	background-color: #333;
}

h1{
	text-align: center;
	font-weight: bold;
	font-size: 125px;
	color: silver;
}

div{
	display: inline-flex;
	position: relative;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-items: center;
	padding: 20px;
}

button{
	display: inline-block;
	position: relative;
	font-size: 105px;
	background-color: #000;
	border: 6px solid silver;
	border-radius: 15px;
	outline: none;
	margin: 20px 10px;
	transition: .3s ease-out;
}

a{
	display: inline-block;
	position: relative;
	text-decoration: none;
	color: #f00;
	text-align:center;
}

h6{
	display: inline-block;
	position: absolute;
	bottom: 0;
	right: 0;
	color: silver;
}

button:hover{
	background-color: #f50;
}

a:hover{
	color: #f00;
}